:root {
  --background-black-color: rgba(2, 12, 24, 1);
  --background-white-color: rgb(255, 255, 255, 1);
  --elements-black-color: rgba(35, 38, 46, 1);
  --dark-grey-color: rgba(2, 12, 24, .8);
  --green-color: rgba(152, 206, 0, 1);
  --blue-color: rgba(134, 165, 217, 1);
  --grey-color: rgba(171, 178, 191, 1);
  --violet-color: rgba(86, 61, 124, 1);
  --animation-timing: 0.2s ease-in-out;
  --navigation-button-height: calc(4px * 3 + 6px * 2)
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-black-color);
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  background-color: var(--background-black-color);
  color: var(--background-white-color);
  font-family: 'JetBrains Mono', 'Inter', Arial, sans-serif;
  font-weight: 500;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
}

.main {
  display: flex;
  margin: auto;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 100px;
}

.section {
  width: 88%;
  display: flex;
  margin: auto;
  box-sizing: border-box;
}

.scroll-home-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-image: url('../../assets/images/arrow_drop_up.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--green-color);
  z-index: 5;
  transition: all var(--animation-timing);
}

.scroll-home-button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px var(--green-color);
}

@media screen and (max-width: 475px) {
  .app {
    gap: 50px;
  }

  .main {
    row-gap: 50px;
  }
}
