.project {
  display: flex;
  width: calc(100% - 60px);
  flex-direction: column;
  gap: 20px;
  padding: 10px 30px;
}

.project__wrapper {
  display: flex;
  gap: 20px;
}

.project__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project__image {
  display: flex;
  flex-shrink: 0;
  width: 300px;
  height: 240px;
  margin: 0;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

.project__name {
  justify-self: left;
  font-size: 24px;
  margin: 0;
}

.project__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  margin: 0;
  height: 200px;
}

.project__stack {
  margin: 0;
  height: 60px;
}

.project__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project__link {
  display: flex;
  font-size: 16px;
  padding: 5px;
  height: 35px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--background-white-color);
  justify-self: center;
  border: 1px solid var(--background-white-color);
  border-radius: 10px;
  transition: box-shadow var(--animation-timing);
}

.project__link:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px var(--background-white-color);
}

.project__link_browser {
}

.project__link_demo {
}

.project__link_github {
}

@media screen and (max-width: 1440px) {
  .project__wrapper {
    flex-direction: column;
  }
  .project__image {
    align-self: center;
  }
}

@media screen and (max-width: 1160px) {
  .project__link {
    font-size: 14px;
    text-align: center;
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .project{
    padding: 10px;
  }
  .project__name {
    font-size: 20px;
    margin: 0;
  }
  .project__description {
    font-size: 16px;
  }
  .project__image {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .project__name {
    font-size: 18px;
  }
  .project__description {
    font-size: 14px;
    height: 210px;
  }
  .project__stack {
    font-size: 14px;
  }
  .project__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 376px) {
  .project__name {
    font-size: 16px;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
  }
  .project__description {
    font-size: 12px;
    height: 190px;
  }
  .project__stack {
    font-size: 12px;
    height: 50px;
  }
}
