.contact__info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.contact__data {
  display: flex;
  width: 330px;
  padding: 0;
  margin: 0;
}

.contact-heading {
  color: var(--blue-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.contact__media {
  display: flex;
  padding: 0;
  margin: 0;
}

.contact__data {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact__data-item {
  list-style: none;
  display: flex;
}

.contact__data-link {
  color: var(--green-color);
  font-family: Inter, "JetBrains Mono", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  display: block;
}

.contact__data-icon {
  width: 30px;
  height: 26px;
  margin: 0 16px 0 0;
  background-position: center;
  background-repeat: no-repeat;
}

.contact__data-item_email {
  margin: 7px 0 0 0;
}

.contact__data-icon_email {
  background-image: url('../../assets/images/emailIcon.svg');
}

.contact__data-icon_tel {
  background-image: url('../../assets/images/telIcon.svg');
}

.contact__data-icon_telegram {
  background-image: url('../../assets/images/tgIcon.svg');
}

.contact__data-social-icon {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0 16px 0 0;
  background-position: center;
  background-repeat: no-repeat;
}

.contact__data-social-icon_github {
  background-image: url('../../assets/images/Github.svg');
}

.contact__data-social-icon_linkedIn {
  background-image: url('../../assets/images/linkedin.svg');
}
